@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #E7E7E7;
  padding: 0px 30px;
  height: 100%;
}

#dashboard_wrapper {
  overflow: hidden;
  float: center;
  max-width: absolute;
  /* add this to contain floated children */
}

#page_title {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

#powerBI_dash {
  float: left;
  padding: 10px 10px;
  margin-left: 50px;
}

#alert_block {
  float: left;
  min-width: 410px;
  max-width: 410px;
  padding: 10px 10px;
  margin-left: 50px;
}

.alert {
  min-height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.alert-success {
  background-color: #91cf91;
  border-color: #80c780;
  color: #3d8b3d;
  animation: sucAnimation 0s 16s forwards;
  visibility: hidden;
}

@keyframes sucAnimation {
  to   { visibility: visible; }
}

.alert-warning {
  background-color: #ebc063;
  border-color: #e8b64c;
  color: #a07415;
  animation: warAnimation 0s 9s forwards;
  visibility: hidden;
}

@keyframes warAnimation {
  to   { visibility: visible; 
}
}


.alert-danger2 {
  background-color: #e27c79;
  border-color: #dd6864;
  color: #9f2723;
  animation: warAnimation 0s 24s forwards;
  visibility: hidden;

}
@keyframes warAnimation {
  to   { visibility: visible; 
}
}


.alert-danger {
  background-color: #e27c79;
  border-color: #dd6864;
  color: #9f2723;
  animation: warAnimation 0s 4s forwards;
  visibility: hidden;

}
@keyframes warAnimation {
  to   { visibility: visible; 
}
}



.alert p {
  padding: 0;
  margin: 0;
}
.alert i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 24px;
}
.alert .close-alert {
  -webkit-appearance: none;
  position: relative;
  float: right;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: inherit;
  background: 0 0;
  font-size: 21px;
  line-height: 1;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  filter: alpha(opacity=40);
  opacity: .4;
}
.alert .close-alert:hover {
  filter: alpha(opacity=70);
  opacity: .7;
}

.shadow-1, .alert {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2, .alert:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

form {
  max-width: 415px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 400px;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  background: #e74c3c;
  cursor: pointer;
  min-width: 420px;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 34%;
  padding: 10px 10px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
  margin-right: 3px;
  margin-top: -10px;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

#app_status, #app_type, #province {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  display: block;
  line-height: 1.7;
  padding: .6em 1.4em .5em .9em;
  min-width: 420px;
  box-sizing: border-box;
  margin-top: 15px;
  border: none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: #34495E;
}